@model IEnumerable<EuroSociedades.Models.Jog_Soc>

@{
    ViewBag.Title = "Index";
}

<h2>Sócios</h2>

<p>
    @Html.ActionLink("Adicionar Sócio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Jogador")
        </th>
        <th>
            @Html.DisplayName("Sociedade")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSaida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jogador.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sociedade.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataSaida)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
