@model EuroSociedades.Models.Pagamentos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Pagamento</h2>

<h3>Tem a certeza que pretende apagar estes dados?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Jogador")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jog_Soc.Jogador.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Sociedade")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jog_Soc.Sociedade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPago)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Lista de Pagamentos", "Index")
        </div>
    }
</div>
