@model IEnumerable<EuroSociedades.Models.Pagamentos>

@{
    ViewBag.Title = "Index";
}

<h2>Pagamentos</h2>

<p>
    @Html.ActionLink("Adicionar pagamento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Jog_Soc.Jogador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jog_Soc.Sociedade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorPago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jog_Soc.Jogador.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jog_Soc.Sociedade.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorPago)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
