@model EuroSociedades.Models.Chaves

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que pretende apagar estes dados?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoChave.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoChave.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayName("Chave")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numeros) +  @Html.DisplayFor(model => model.Estrelas)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Lista de Chaves", "Index")
        </div>
    }
</div>
