@model EuroSociedades.Models.Concursos

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Concurso</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Concurso")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeConcurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConcurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConcurso)
        </dd>

        <dt>
            @Html.DisplayName("Chave Sorteada")
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.ChaveSorteada.Numeros) + @Html.DisplayFor(model => Model.ChaveSorteada.Estrelas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Lista de Concursos", "Index")
</p>
